@import "tailwindcss";

.marquee {
    animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.swiper-pagination-bullets {
  bottom: 0px !important;
  display: flex !important;
  justify-content: center !important;
  gap: 8px !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  background: #d1d5db !important;
  opacity: 1 !important;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out !important;
}

.swiper-pagination-bullet-active {
  background: #fd853a !important;
  width: 60px !important;
  height: 15px !important;
  border-radius: 21px !important;
  transition: all 0.3s ease-in-out !important;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #FD853A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4752f;
}